# Copy to .env and fill values
FIREBASE_WEB_API_KEY=AIzaSyBIg7N7pIdYElPkfA40-epRabheGMikrGc
FIREBASE_PROJECT_ID=retail-app-mvp
BUSINESS_ID=dxIVOsQSipfNf8dRLN4oc
PAYFAST_MERCHANT_ID=    10049511
PAYFAST_MERCHANT_KEY=    oxhjwmpww1vzh

